    
        <script type="text/javascript" src="/javascript/jquery-cycle.js"></script>
        <script>
        $(document).ready(function() {
        	$('#slideshow').cycle({
        	fx: 'fade',
        	pager: '#smallnav',
        	pause:   1,
        	speed: 1800,
        	timeout:  3500
        	});
        });
        </script>
    </body>
</html>