<% include partials/header %>

<div id="slideshow">
    <img src="https://images.unsplash.com/photo-1414016642750-7fdd78dc33d9?crop=entropy&fit=crop&fm=jpg&h=975&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1875"> -->
    <img src="https://images.unsplash.com/photo-1455496231601-e6195da1f841?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=b4ecc0b34c7c66c7e385e756f8a0fe08">
    <img src="https://images.unsplash.com/photo-1436285122087-89584a1d9398?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=e23cef640ea07348ccf84d03c372bd25">
</div>



<div id="center">
    <h1> Welcome to Banes camp </h1>
    <a href="/campgrounds"> Click here to see all the camps avalilable</a>
</div>




<% include partials/footer %>