.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    /* thumbnails inside of caption-full class*/
    margin: 9px;
}

#deleteform {
    display: inline;
}